.recta {
    background-color: #D9D9D9;
    border: 1px solid black;
    margin:  auto; /* Esto centrará el div horizontalmente */

}

.compra{
    margin-left: 60px;
    margin-right: 60px;
}



.ItemsAV{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.totalcarritoAV{
    display: flex;
}

.totalAV{
    margin-left: auto;
}

.botoncheckAV {
    background-color: black;
    color: white;
    margin-left: auto;
    display: block;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.botoncheckAV a {
    color: white;
    text-decoration: none;
}

#cantidadControl {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#cantidadControl button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#cantidadControl button:hover {
    background-color: #0056b3;
}

#cantidadControl input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 5px;
    font-size: 16px;
    padding: 5px;
}

#cantidadControl button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}



