.recta {
    background-color: #D9D9D9;
    border: 1px solid black;
    margin:  auto; /* Esto centrará el div horizontalmente */
    margin-left: 60px;
    margin-right: 60px;
    padding: auto;

}



h2{
    margin-left: 60px;

}

p{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

}
