.PrincipalBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;


}

.PrincipalBody1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;


}



hr{
    border-width: 5px;
}


