      
       body {
        background-color: #F6F6F6;
      
       
       }
     

       header {
         background-color: #FFFFFF;
         color: #000000;
         padding: 5px;
         width: 100vw;
         
      
       
         
     }
    
    .tienda {
        text-align: center;
        text-align: left; 
        margin-left: 40px;
        font-size: 1.6em; 
        margin-top: 35px;
    }
       
       aside {

           width: 228px;
           height: 587px;
           background-color: #FFFFFF;
           padding: 10px;
           margin-right: 30px;
           
           margin-left: 35px; 
           margin-top: 40px; 
           float: left;
       }
       
       
       .left-navigation ul {
           list-style: none;
           padding: 0;
       }
       
       .left-navigation ul li {
           margin-left: 40px;
           margin-bottom: 30px;
           color: #000000;
       }
       
       .left-navigation ul li a {
           text-decoration: none;
           color: #000000;
           font-family: "Roboto", sans-serif;
       }
       
       main {
           
           margin-left: 320px; 
           min-height: calc(100vh - 50px); /* Cambia de % a vh */
       }

       html, body {
         height: 100%;
         margin: 0;
         padding: 0;
     }
 
 .left-navigation h3 {
   width: 58px;
   height: 28px;
   top: 121px;
   left: 100px;
   font-family: "Roboto", sans-serif;
   font-size: 20px;
   line-height: 28.13px;
   margin-left: 20px;
   font-weight: normal;
   color: #000000;
 }
 

.dashboard {
 
 display: inline-block;
 background-color: #D9D9D9; 
 padding: 20px; 
 
 text-align: center; 
 
 width: 300px; 
 height: 189px; 
 margin-right: 150px;


 
 
 }




 .tituloH2-background {
   background-color: #D9D9D9;
   margin-top: 40px;
   height: 50px;
   width: 1120px;
   position: relative; /* Agrega esta línea */
}

.tituloH2-text {
   font-size: 16px;
   font-family: "Roboto", sans-serif;
   font-weight: normal;
   margin-left: 25px;
   margin-bottom: 30px;
   position: relative; /* Agrega esta línea */
   top: 15px; /* Ajusta el valor según sea necesario */
}


 .numero {
 font-family: "Inter", sans-serif;
 font-size: 64px;
 font-weight: 400;
 margin-top: 25px;
 text-align: center; 
 
 
 }


 .numero1 {
   font-family: "Inter", sans-serif;
 font-size: 44px;
 font-weight: 400;
 margin-top: 45px;
 text-align: center; 
 
 }
 
 .texto {
 
 font-size: 19px;
 
 font-family: "Inter", sans-serif;
 
 text-align: center;
 margin-top: -60px;
 }

 .texto1 {
 
    font-size: 19px;
    
    font-family: "Inter", sans-serif;
    
    text-align: center;
    margin-top: -30px;
    }


 .contenedor {
   display: flex; /* Utiliza el modelo de flexbox */
  
}

   .cuadro {
   width: 327px; /* Anchura relativa para los cuadros */
   height: 189px;
   background-color: #D9D9D9;

   margin-top: 15px;
   margin-right: 70px; /* Espacio entre los cuadros */
}

.cuadro1 {
   width: 327px; /* Anchura relativa para los cuadros */
   height: 189px;
   background-color: #D9D9D9;

   margin-top: 15px;
   margin-right: 70px; /* Espacio entre los cuadros */
}

.otro-texto {
   position: absolute;
   top: 15px; /* Ajusta la posición vertical según sea necesario */
   right: 10px;
   margin-top: 0; /* Ajusta el margen superior si es necesario */
   font-family: "Roboto", sans-serif;
   font-weight: 400px;
   
   
}



html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

main {
   min-height: calc(100% - 50px); /* 50px es la altura estimada del footer */
}


.footerAdm {
   background-color: #e1e1e1;
   display: flex;
   align-items: center;
   padding: 50px;
   margin-top: 400px; 
}
 
 .quintofooter{
   display: flex;
   margin-left: auto;
 }
 
 .quintofooter li{
   margin-right: 30px;
   
 }
