#arriba_derecha{
    width: 218px;
    height: auto;
    background-color: #FFFFFF;
    padding: 10px;
    margin-right: 30px; 
    margin-left: auto;
    justify-content: flex-end;
    border-radius: 10px;

}

h4{
    margin-left: 40px
}

#DisponibleTitulo{
    justify-content: center;
    margin-left: -10px;
    margin-top: -3px;
    margin-right: -10px;
    background-color:aquamarine;
}

.ProductoContenidoE button{
    margin-left: 30px;
    background-color: black;
    
}

ol{
    margin-top: 10px;
}


#Detallado{
}

#Caracteristicas{
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
}
.ProductoContenido p{
    margin-left: 40px;
}

.h4nuevoAV {
    margin-left: 0;
  }
  
.DescAv{
    margin-left: 40px;
}

.ImagenProductoAV{
        margin-top: -300px;
        margin-left: 40px;
        width: 100%; /* Ajusta según sea necesario */
        max-width: 370px; /* Ajusta según sea necesario */
        display: block;
      
    
}
.ProductoAV1{
    background-color: white;
}
